<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href="../static/css/moni.css" rel = "stylesheet"/>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<script src="../static/js/jquery-3.4.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/echarts.min.js"></script>
	<script src="../static/js/moniview.js"></script>
    <title>火锅店舆情监控系统</title>
</head>
<body>
	
	
	<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
	
		<h1 id="fh5co-logo"><a href="index.html">希伯伦</a></h1>
		<nav id="fh5co-main-menu" role="navigation">
			<ul>
				<li class="fh5co-active"><a href="monitor.html">实时数据</a></li>
				<li><a href="#">序列标注</a></li>
				<li><a href="#">情感分析</a></li>
				<li><a href="#">推荐</a></li>
				<li><a href="#">其他</a></li>
			</ul>
		</nav>
	
		<div class="fh5co-footer">
			<p>Hebron &copy; 2020</p>
			
		</div>
	
	</aside>
	
	<div id="fh5co-main">
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				
		  	</div>
		</aside>
		
		
		

		<div class="fh5co-narrow-content">
			<h2 align="center">火锅店舆情监控系统</h2>
			
				<div class="col-md-4" id="u1">
					
				</div>
				
				<div class="col-md-4" id="u2">
					
				</div>
				
				<div class="col-md-4" id="u3">
					
				</div>
				<div class="col-md-12" style="height: 100px;"></div>
					
				<div class="col-md-6" id="d1">
					
				</div>
				
				<div class="col-md-6" id="d2">
					
				</div>
				
				<div class="col-md-12" style="height: 100px;"></div>
				<!---
				--->
				
			
		</div>

<script src="../static/js/monifig.js"></script>



</body>
</html>